%common-flex-style {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin common-style($fs, $ff, $fw) {
  font-size: $fs;
  font-family: $ff;
  font-weight: $fw;
}

@mixin my-transtion($all, $time) {
  transition: $all $time;
  -webkit-transition: $all $time;
  -moz-transition: $all $time;
  -ms-transition: $all $time;
  -o-transition: $all $time;
}

@mixin border-r($rounded) {
  border-radius: $rounded;
  -webkit-border-radius: $rounded;
  -moz-border-radius: $rounded;
  -ms-border-radius: $rounded;
  -o-border-radius: $rounded;
}

@mixin responsive($screen) {
  @media (min-width: $screen) {
    @content;
  }
}

.layout {
  background-color: rgba($color: #000000, $alpha: 0.1);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: block;
}
.home {
  @include responsive(768px) {
    margin-left: 270px;
  }
  .icon {
    padding: 0.5rem;
    margin-left: 1rem;
    font-size: 1.5rem;
    color: rgb(107, 114, 128);

    @include responsive(768px) {
      display: none;
    }
  }

  .container {
    padding: 2rem 2rem;

    h1 {
      font: {
        size: 2.3rem;
        weight: 700;
      }

      background-image: linear-gradient(
        to right,
        #f29724 0%,
        #ff6347 22%,
        #c90519 100%
      );
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      margin-bottom: 1rem;
    }

    select {
      width: 100%;
      padding: 11px;
      border: 1px solid rgb(209, 213, 219);
      border-radius: 8px;
      margin-bottom: 4rem;

      &:focus {
        outline: none;
      }
      @include responsive(768px) {
        display: none;
      }
    }

    ul {
      margin-bottom: 2rem;
      @extend %common-flex-style;
      flex-wrap: wrap;
      list-style: none;
      display: none;
      @include common-style(1rem, var(--header-font-family), 500);
      color: rgb(107, 114, 128);
      @include responsive(768px) {
        display: flex;
      }
      .active-li {
        background-color: black;
        color: white;
        &:hover {
          background-color: black;
          box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
            rgba(0, 0, 0, 0) 0px 0px 0px 0px,
            rgba(0, 0, 0, 0.1) 0px 2.61685px 4.87214px -0.425486px,
            rgba(0, 0, 0, 0.1) 0px 1.59568px 2.68078px -1.42549px;
        }
      }
      li {
        margin: {
          right: 20px;
          bottom: 1rem;
        }
        cursor: pointer;
        text-transform: capitalize;
        border: 1px solid rgb(156, 163, 175);
        padding: 0.5rem 1rem;
        @include border-r(100vh);
        @include my-transtion(all, 0.3s);
        &:hover {
          background-color: #f9fafb;
          box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
            rgba(0, 0, 0, 0) 0px 0px 0px 0px,
            rgba(0, 0, 0, 0.1) 0px 2.61685px 4.87214px -0.425486px,
            rgba(0, 0, 0, 0.1) 0px 1.59568px 2.68078px -1.42549px;
        }
      }
    }

    .card-container {
      padding: 2rem 0;
      display: flex;
      flex-direction: column;
      @include responsive(768px) {
        flex-direction: row;
        flex-wrap: wrap;
      }

      .card {
        padding: 0 1rem 1.5rem 1rem;
        margin-bottom: 5rem;
        text-align: center;

        @include my-transtion(all, 0.3s);
        &:hover {
          transform: scale(1.09);
          -webkit-transform: scale(1.09);
          -moz-transform: scale(1.09);
          -ms-transform: scale(1.09);
          -o-transform: scale(1.09);

          img {
            transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
          }
        }
        @include responsive(768px) {
          width: 50%;
        }
        @include responsive(992px) {
          width: 33.333%;
        }
        @include responsive(1200px) {
          width: 25%;
        }

        .inner {
          background-color: white;
          @extend %common-flex-style;
          flex-direction: column;
          @include border-r(35px);
        }
        img {
          @include border-r(50%);

          height: auto;
          aspect-ratio: 1/1;
          width: 80%;
          display: block;
          margin-top: -35px;
          margin-bottom: 1rem;
          box-shadow: 0 20px 13px rgba(0, 0, 0, 0.09);
          object-fit: cover;
          @include my-transtion(all, 0.5s);
          @include responsive(768px) {
            width: 60%;
          }
        }

        .card-body {
          h3 {
            @include common-style(1.5rem, var(--header-font-family), 600);
          }

          .country {
            @extend %common-flex-style;
            margin-bottom: 0.6rem;
            color: var(--card-font-btn-color);

            .earth {
              margin-right: 0.5rem;
              font-size: 0.8rem;
            }

            p {
              @include common-style(1rem, var(--header-font-family), 400);
            }
          }

          button {
            padding: 0.5rem 2rem;
            margin-bottom: 1rem;
            background-color: var(--card-font-btn-color);
            color: white;
            @include common-style(1rem, var(--header-font-family), 600);
            @include border-r(100vh);
            border: none;
            @include my-transtion(all, 0.3s);
            &:hover {
              background-color: rgb(5 150 105);
              transform: scale(1.02);
              -webkit-transform: scale(1.02);
              -moz-transform: scale(1.02);
              -ms-transform: scale(1.02);
              -o-transform: scale(1.02);
              box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1);
            }
          }
        }
      }
    }
  }
}
